body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(blue, lightblue);
    background: linear-gradient(yellow, red);
}

main {
    flex: 2;
}

section {
    max-width: 950px;
    margin: 50px auto;
}
